<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title></title>
</head>
<body bgcolor = olive>
<h1 align = "center">Найкраща піццерія міста , заходьте до нас!</h1>
<link rel = "stylesheet" , href = "style.css">



<table border = 3 , align = "right" ,>
<tr align = "right">
    <th>Графік роботи</th>
</tr>
<tr align="right">
<th>Понеділок</th>
<th>Вівторок</th>
<th>Середа</th>
<th>Четвер</th>
<th>П'ятниця</th>
<th>Субота</th>
<th>Неділя</th>

</tr>
<tr align="right">
<td>10:00 - 17:00</td>
<td>10:00 - 17:00</td>
<td>10:00 - 17:00</td>
<td>10:00 - 17:00</td>
<td>10:00 - 17:00</td>
<td>10:00 - 17:00</td>
<td>Вихідний</td>
</tr>


</table>
<p>
<img src = "static/pizza.jpg" >
</p>
</body>
<a href = "/menu">Меню страв</a>
</html>
