<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title></title>
</head>
<body>
<h1 align = "center" >Меню</h1>
<link rel = "stylesheet" , href = "style.css">
<table border = "2" align = "center" bordercolor = "red" >
<tr>
<th>Номер</th>
<th>Позиція</th>
<th>ціна</th>

</tr>

<tr align = "center">
<td>1</td>
<td>Піцца</td>
<td>150 грн</td>

</tr>

<tr align = "center">
<td>2</td>
<td>Картопля фрі</td>
<td>50 грн</td>

</tr>

<tr align = "center">
<td>3</td>
<td>Шаурма</td>
<td>100 грн</td>

</tr>

<tr align = "center">
<td>4</td>
<td>Coca-Cola(0,5)</td>
<td>35 грн</td>

</tr>

<tr align = "center" >
<td>5</td>
<td>Чай</td>
<td>25 грн</td>

</tr>

<tr align = "center">
<td>6</td>
<td>Кава</td>
<td>30 грн</td>

</tr>

<tr align = "center">
<td>7</td>
<td>Бургер </td>
<td>80 грн</td>

</tr>



</tr>



</table>
</body>
<a href = "/" >Повернутись на головну</a>
</html>